# Enviroment variables needed to connect to the LiveKit server.
LIVEKIT_API_KEY=APIkShFjDhpdHcM
LIVEKIT_API_SECRET=2jMbjSR5sPMxifWPEfwlmZSzKcm70XJY6xjmwn7hNYs
LIVEKIT_URL=wss://tendayschallebge-m7xm5bur.livekit.cloud

# Internally used environment variables
NEXT_PUBLIC_APP_CONFIG_ENDPOINT=
SANDBOX_ID=
